.icon{
    margin-right: 1rem;
}


.profil{
    
    height:12rem ;
    width:12rem ;
    object-fit: cover;
}
.contain{
    margin-top: -43rem;
    margin-left: 6rem;
    margin-right: 6rem;
    text-align: center;
    align-items: center;
}
.nomAL{
    margin-top: 2rem;
    
}
.nomAL1{

    color: var(--ion-color-success-shade);
}
.bio{
    font-size: 2rem;
    font-weight: 800;
}