<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>{{Cat.nomCat}}</ion-title>
    <ion-icon name="close" slot="end"  size="large" class="icon" (click)="Close()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <div style="height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.7),#222428),url({{Cat.imgCat}}); 
  background-repeat: no-repeat;
  background-size: contain ;">
  </div>
  <div class="contain">
    <img src="{{Cat.imgCat}}" class="profil">
    <p class="bio">{{Cat.nomCat}}</p>
  </div>

  <div class="block">
    <p *ngFor="let item of list">
      <ion-card *ngIf="item.idCategorie == id" mode="ios" (click)="OpenSong3()" (click)="storage5(item)">
        <img src="{{item.pochette}}" width="100%">
        <ion-grid fixed>
          <ion-row>
            <ion-col><img src="{{item.photoArtiste}}" style="border-radius: 100%;"></ion-col>
            <ion-col size="7">
              <h5><b>Titre : {{item.titre}}</b></h5>
              <p>Artiste : {{item.nomArtiste}}</p>
              <p>Score de popularité : {{item.score}}</p>
              <p *ngFor="let al of item.Album">Album : {{al.nomAlbum}}</p>
            </ion-col>
            <ion-col *ngFor="let t of item.duree">
              <ion-icon name="play" size="large" *ngIf="item.idCategorie == 2"
                style="margin-top: 1.6rem;"></ion-icon>
              <ion-badge color="primary" mode="ios">{{t.minute}}:{{t.seconde}}</ion-badge>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </p>

  </div>


</ion-content>
