<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
  </ion-toolbar> 
  
</ion-header>

<ion-content [fullscreen]="true">
   
  <ion-grid fixed>
    <ion-row>
      <ion-col ><h1 class="salut">Langues</h1></ion-col>
      <ion-col > 
      </ion-col>
    </ion-row>
  </ion-grid>

  <h4 class="choix">Choisissez la langue de votre choix</h4>

  
    <ion-list>
      <ion-item>
        <ion-toggle [(ngModel)]="toggle1Value" (ionChange)="onToggle1Change()" color="success" mode="ios"(click)="Switch()">Anglais</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle [(ngModel)]="toggle2Value" (ionChange)="onToggle2Change()" [disabled]="toggle1Value" color="success" mode="ios" (click)="Switch2()">Espagnol</ion-toggle>
      </ion-item>
    </ion-list>
  
  
   
</ion-content>
