.salut{

    margin-left: 1rem;
    margin-top: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
    font-size: 2.2rem;
  
  }
  .settings{
    margin-left: 7rem;
    margin-top: 2.1rem;
  }
  .choix{
    margin-left: 2rem;
    margin-right: 2rem;
  }