ion-tab-bar{
    position: absolute;
    bottom: 0;
    width: 90%;
    --background : rgba(148, 0, 211, 0.468);
    align-self: center;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    border: none;
    
    ion-tab-button{
        --bacground : rgba(0, 0, 0, 0.468)
    }
}