<ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom,top" >
    <ion-tab-button  [routerLink]="['home']">
      <ion-icon [name]="homeIcon" (click)="home()"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['musiques']">
      <ion-icon [name]="musicIcon" (click)="music()"></ion-icon>
      <ion-label>Musiques</ion-label>
    </ion-tab-button>
    <ion-tab-button  [routerLink]="['apropos']">
      <ion-icon [name]="infoIcon" (click)="info()"></ion-icon>
      <ion-label>A propos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

</ion-content>
<!-- style="border-radius: 3rem;margin-bottom: 0.6rem; margin-left: 0.5rem;margin-right: 0.5rem;" -->