.nav{
    margin-left: 2rem;
    margin-right: 2rem;
}
.pochette{
    width: 90%;
    margin-top: 2rem;
    border-radius: 1rem;
    margin-left: 1.3rem;
}

.controles{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    
}

.flex_box {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:-1rem;
    margin-right: -1rem;
  }
  ion-button {
    height: 5.5rem;
    min-height: max-content;
    margin: 0px 7px;
    font-size: 21px;
    color: white;
  }
  
  .play{
    background-color: var(--ion-color-light-contrast);
    border-radius: 100%;
    color : black ;

  }
  
  .cote1{
    margin-top: 2rem;

  }

  .cote2{
    margin-top: 2rem;
  }
  .share{
    margin-left : 21rem;
    margin-top: 2rem;
  }
  .close{
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
  .infos{
    margin-left: 2rem;
    padding-top: 1rem;
  }
  .sous{
    display: flex;

  }
  .infos2{
    margin-left: 12rem;
    padding-top: 1.5rem;
  }
  .volume{
    margin-left: 1rem;
    margin-top: 1.5rem;
  }
  .haut{
    margin-left: 7.3rem;
  }
  .barre{
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .temps{
    margin-left: 1rem;
  }
  .fin{
     padding-left: 7.3rem;
  }

  ion-modal#example-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    margin-left: 2rem;
    margin-right: 2rem;
    
  }
  
  ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
  }
  
  ion-modal#example-modal ion-icon {
    margin-right: 6px;
  
    width: 48px;
    height: 48px;
  
    padding: 4px 0;
  
    color: #aaaaaa;
  }
  
  ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
  }