<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{son.titre}}</ion-title>
    <ion-icon name="chevron-down-outline" slot="start" ></ion-icon>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div>
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-icon name="chevron-down-outline" size="large" (click)="Close()" class="close" (click)="unload()"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <h5 style="text-align: center;">{{son.titre}}</h5>
        </ion-col>
        <ion-col size="4"><ion-icon name="ellipsis-horizontal" size="large"
            style="margin-left: 4rem ; margin-top: 0.8rem;" id="open-custom-dialog"></ion-icon></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
    <ng-template>
      <div class="wrapper">
        <h1>Comment ça marche ?</h1>

        <ion-list lines="none">
          <ion-item button="true" detail="false" (click)="modal.dismiss()">
            <p>1. Vous pouvez appuyer à n'importe quel niveau sur le barre de progression, ceci mettra à jour la musique en fonction de votre choix</p>
          </ion-item>
          <ion-item button="true" detail="false" (click)="modal.dismiss()">
            <p>2. Certains sons comencent après un bref silence , soyez attentif ! </p>
          </ion-item>
          <ion-item button="true" detail="false" (click)="modal.dismiss()">
            <p>3. Le bouton loop est opérationnel ! Appuyez pour recommencer la musique à Zero </p>
          </ion-item>
        </ion-list>
      </div>
    </ng-template>
  </ion-modal>



  <div class="contain">
    <img src="{{son.pochette}}" class="pochette">
  </div>
  <div class="sous">
    <div class="infos">
      <ion-label>
        <p>{{son.titre}}</p>
        <p>{{son.nomArtiste}}</p>
      </ion-label>
    </div>
    <div class="infos2">
      <ion-icon [name]="favIcon" size="large" fixed (click)="playchange2()" color="danger"  ></ion-icon>
    </div>
  </div>
  <div class="volume">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6"><ion-icon name="volume-low-outline" (click)="DownVolume()"></ion-icon></ion-col>
        <ion-col size="6"><ion-icon name="volume-high-outline" class="haut" (click)="UpVolume()"></ion-icon></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="barre">
    <!-- <ion-range min="0" max="100" color="success" mode="ios"></ion-range> -->
    <ion-range  (click)="changePosition()"min="0" [max]="duration" [(ngModel)]="currentPosition" mode="ios" color="success"></ion-range>
  </div>
  <div class="temps">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">{{res}}</ion-col>
        <ion-col size="6" class="fin">00:00</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="controles">

    <div>
      <ion-icon name="shuffle" size="large" class="cote1"></ion-icon>
    </div>
    <div class="flex_box">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="play-skip-back"></ion-icon>
      </ion-button>
      <ion-button shape="round" fill="clear" class="play" (click)="playchange()" (click)="playResume()">
        <ion-icon slot="icon-only" [name]="playIcon"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="play-skip-forward" ></ion-icon>
      </ion-button>
    </div>

    <div>
      <ion-icon name="repeat" size="large" class="cote2" (click)="Loop()"></ion-icon>
    </div>
  </div>
</ion-content>