<ion-header [translucent]="true">
  <ion-toolbar>
     <ion-grid fixed>
    <ion-row>
      <ion-col ><h1 class="salut">Musique</h1></ion-col>
      <ion-col >
        <ion-buttons class="settings">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-segment value="default" color="success" [(ngModel)]="selectedTabs" class="segment">
    <ion-segment-button value="Album">
      <ion-label>Albums</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Artiste">
      <ion-label>Artistes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Chanson">
      <ion-label>Chansons</ion-label>
    </ion-segment-button>
  </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  

  

  

  <div *ngIf="selectedTabs == 'Album'" class="bot">
    <ion-searchbar animated="true" placeholder="Rechercher" mode="ios" (ionInput)="searchItems1($event)"></ion-searchbar>
<div *ngIf="is_pending">
    <p *ngFor="let item of listAlbumtri" >
      <ion-card mode="ios">
        <ion-avatar>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </ion-avatar>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="7">
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </p>
  </div>
  <div *ngIf="!is_pending" class="bot">
    <p *ngFor="let item of listAlbumtri">
      <ion-card mode="ios" (click)="storage3(item)" >

        <ion-grid fixed>
          <ion-row>
            <ion-col><img src="{{item.pochette}}" class="alb" ></ion-col>
            <ion-col size="4" style="margin-left: 2rem;">
              <b><p class="nomAL"><span class="nomAL1">Artiste : </span>{{item.nomArtiste}}</p></b>
              <p *ngFor="let al of item.Album">Album : {{al.nomAlbum}}</p>
            </ion-col>
            <ion-col>
              <ion-icon name="chevron-forward-outline" size="large" class="goto"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </p>
  </div>

  </div>


  <div *ngIf="selectedTabs == 'Artiste'">
   
<div *ngIf="is_pending" class="bot">
    <p *ngFor="let item of TabAlbum">
      <ion-card mode="ios">
        <ion-img>
          <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
        </ion-img>
        <ion-grid fixed>
          <ion-card-header>
            <ion-card-subtitle><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-subtitle>
            <ion-card-title><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-card-title>
          </ion-card-header>
          <ion-row>
            <ion-col size="7">
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </p>
</div>    
<div *ngIf="is_pending == false" class="bot">
  <ion-searchbar animated="true" placeholder="Rechercher" mode="ios" (ionInput)="searchItems2($event)"></ion-searchbar>
    <p *ngFor="let item of listAlbumtri2">
      <ion-card mode="ios" (click)="storage2(item)" routerLink="sons-par-artiste" >
        <img src="{{item.photoArtiste}}" width="100%" >
       
        <ion-grid fixed>
          <ion-row>
            <ion-col size="7">
              <p> <span class="nomAL1">Artiste : </span>{{item.nomArtiste}}</p>
              <p>Score de popularité : {{item.score}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </p>
</div>

  </div>



  <div *ngIf="selectedTabs == 'Chanson'" class="bot">
   
    <div *ngIf="is_pending">
    <p *ngFor="let item of TabAlbum">
      <ion-card mode="ios">
        <ion-img >
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </ion-img>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="7">
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
       
      </ion-card>
    </p>
    </div>
    <div *ngIf="is_pending == false" class="bot">
      <ion-searchbar animated="true" placeholder="Rechercher" mode="ios" (ionInput)="searchItems($event)"></ion-searchbar>
    <p *ngFor="let item of listAlbums" (click)="storage(item)">
      <ion-list>
        <ion-item>
          <ion-label>
            <ion-grid>
              <ion-row (click)="OpenSong()">
                <ion-col>
                  <!-- <img src="{{item.pochette}}" style="border-radius: 100%;"> -->
                </ion-col>
                <ion-col size="8">
                  <h5><b>Titre : {{item.titre}}</b></h5>
                  <p>Artiste : {{item.nomArtiste}}</p>
                </ion-col>
                <ion-col *ngFor="let t of item.duree">
                  <ion-icon name="play" size="large" style="margin-top: 0.5rem;" ></ion-icon>
                </ion-col>
                <ion-col *ngFor="let t of item.duree">
                  <ion-badge color="success" mode="ios" style="margin-top: 0.9rem;">{{t.minute}}:{{t.seconde}}</ion-badge>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
      </ion-list>
    </p>
  </div>


  </div>

  <div *ngIf="listAlbumtri == 0" class="echec">
    <h4 class="ion-align-items-center" >Aucun résultat ne correspond à votre saisie, veuillez réessayer !</h4>
    <img src="../../assets/img/found_7167187.png" class="gif">
  </div>

  <div *ngIf="listAlbums == 0" class="echec">
    <h4 class="ion-align-items-center" >Aucun résultat ne correspond à votre saisie, veuillez réessayer !</h4>
    <img src="../../assets/img/found_7167187.png" class="gif">
  </div>

  <div *ngIf="listAlbumtri2 == 0" class="echec">
    <h4 class="ion-align-items-center" >Aucun résultat ne correspond à votre saisie, veuillez réessayer !</h4>
    <img src="../../assets/img/found_7167187.png" class="gif">
  </div>


</ion-content>