.nomAL{
    margin-top: 2rem;
    
}
.nomAL1{

    color: var(--ion-color-success-shade);
}
.salut{

    margin-left: 1rem;
    margin-top: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
    font-size: 2.2rem;
  
  }
  .settings{
    margin-left: 7rem;
    margin-top: 2.1rem;
  }
  .segment{
    margin-top: 2rem;
    // padding-right: 2rem;
    // padding-left:  2rem;
  }
  .echec{
    padding-right: 1.7rem;
    padding-left:  1.7rem;
    margin-top: 2rem;
  }
  .gif{
    // margin-top: -3rem;
    width: 7rem;
    height: 7rem;
    margin-left: 7.5rem;
    margin-top: 2rem;
  }
  .goto{

    margin-top: 4rem;
    margin-left: 2rem;
  }
  .alb{
    border-radius: 100%;
    margin-top: 2rem;
    
  }
  .bot{
    margin-bottom: 4rem;
  }