<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-align-items-center">{{nomfav}}</ion-title> 
    <ion-icon name="chevron-back" size="large" (click)="Close()" slot="start" ></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div style="height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.7),#222428),url({{photo}}); 
  background-repeat: no-repeat;
  background-size: contain ;">
  </div>

  <div class="contain">
    <img src="{{photo}}" class="profil">
    <p class="bio">{{nomfav}}</p>
  </div>
  
  <div>
    <p *ngFor="let item of list">
      <ion-card mode="ios" *ngIf="item.nomArtiste == nomfav">

        <ion-grid fixed>
          <ion-row>
           
          </ion-row>
          <ion-row (click)="storage(item)" (click)="OpenSong()">
            <ion-col><img src="{{item.pochette}}" ></ion-col>
            
            <ion-col size="7" style="margin-left: 2rem;" >
              <b><p class="nomAL1">{{item.titre}}</p></b>
              <b><p class="nomAL"><span >Artiste : </span>{{item.nomArtiste}}</p></b>
              <p *ngFor="let al of item.Album">Album : {{al.nomAlbum}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </p>
  </div>
</ion-content>