<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titre">A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <img src="../../assets/img/quaver_3744472.png">

  <div class="contain">
  <div><h1 class="zik">Zik</h1></div>
  <div class="muzik"><H1> Musik</H1></div>
  </div>
  <div class="copy">
    Morgane Claudel ANGO - Copyright 2023
  </div>
  
</ion-content>
