.titre{
    text-align: center;
}
 img{
    width: 15rem;
    height: 15rem;
    margin-left: 5.5rem;
    margin-top: 3rem;
}
.contain{
    display: flex;
    margin-left: 10rem;
}
.zik{
    color: var(--ion-color-success);
}
.musik{
   padding-left: 2rem;
}
.copy{
    margin-left: 3rem;
    margin-right: 2.5rem;
}
