.title{
  text-align: center;
}


.Categories{
   
  display: flex;
  overflow: scroll;
}
.cat{
  margin-top: 1rem;
  height: 12rem;
  width: 20rem;
  max-width: none;
  margin-left: 1rem;
  border-radius: 1rem;
}
.cat2{

  height: 8rem; 
  max-width: none;
  margin-left: 1rem;
  border-radius: 1rem;
}

.Artistes{
  width: 6rem;
  height : 6rem;
  border-radius: 100%;
  object-fit: cover;
}
.salut{

  margin-left: 1rem;
  margin-top: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
  font-size: 2.2rem;

}
.settings{
  margin-left: 7rem;
  margin-top: 2.1rem;
}
.titre1{
  margin-left: 1rem;
  margin-top: 1rem;
  border-bottom: solid 0.3rem var(--ion-color-success-shade);
  padding-bottom: 0.6rem;
  
}
.titre2{
  
  margin-top: 1rem;
  
}
.titre{
  margin-left: 1rem;
  margin-top: 1rem;
  
}
.nomArt{
  margin-left: 1rem;
  margin-right: 1.5rem;
  color: var(--ion-color-medium-shade);
}
.gridArt{
  margin-left: 1rem;
  margin-right: 1rem;
}
.nomFav{
  text-align: center;
  justify-content: center;
  margin-left: 1.5rem;
  margin-right: 1rem;
  font-weight: 800;
}

// .first{
//   background-image: url(../../assets/img/site2.jpg);
//   background-size: cover;
//   height: 12rem;
//   width: 14rem;
// }
.swip{
  
  background-size: cover;
  height: 12rem;
  width: 14rem;
  border-radius: 0.7rem;
}
swiper-slide{
  margin-left: 0.4rem;
  
}

.titreCat{
  color: white;
  font-size: xx-large;
    font-weight: 800;
    text-align: center;
    margin-top: 4.2rem;
}
.swip2{
  // margin-left: -23rem;
  background-size: cover;
  height: 8rem;
  width:10rem;
  border-radius: 0.7rem;
}
.fav{
  margin-left: 1rem;
  color: var(--ion-color-medium-shade);
}
.block{
  overflow-y: scroll;
}
.bot{
  margin-bottom: 3rem;
}