
<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-row>
      <ion-col ><h1 class="salut">Bienvenue</h1></ion-col>
      <ion-col >
        <ion-buttons class="settings">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
 


<div style="display: flex;">
  <div>
    <h2 class="titre1"><b>Cate</b></h2>
  </div>
  <div>
  <h2 class="titre2">
    <b>gories</b>
  </h2>
</div>


</div>

<swiper-container class="ion-margin" slides-per-view="1.5" css-mode="true" *ngIf="!is_pending" >
    
  <swiper-slide *ngFor=" let cat of listCat" (click)="OpenCat()" (click)="storageCat(cat)">
    <ion-card style="background-image: url({{cat.imgCat}});" class="swip">
      <ion-card-content class="titreCat">
        {{cat.nomCat}}
      </ion-card-content>
    </ion-card>
  </swiper-slide>

  </swiper-container>

  <swiper-container class="ion-margin" slides-per-view="1.5" css-mode="true" *ngIf="is_pending">
    
    <swiper-slide>
      <ion-card id="open-modal2" class="swip">
        <ion-card-content class="titreCat">
         <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card id="open-modal1" class="swip">
        <ion-card-content class="titreCat">
         <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
    <swiper-slide>
    <ion-card  id="open-modal3" class="swip">
      <ion-card-content class="titreCat">
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </swiper-slide>
    <swiper-slide>
      <ion-card  id="open-modal4" class="swip">
        <ion-card-content class="titreCat">
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card id="open-modal5" class="swip">
        <ion-card-content class="titreCat">
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </swiper-slide>


  </swiper-container>



<div *ngIf="!is_pending">
  <div style="display: flex;">
    <div><h2 class="titre1"><b>Favo</b></h2></div><h2 class="titre2"><b>ris</b></h2></div>

  <swiper-container class="ion-margin" slides-per-view="2" css-mode="true">
    <swiper-slide *ngFor="let fav of TabFav" (click)="OpenSong()" (click)="storage(fav)">
      <div *ngIf="fav.est_favori">
      <ion-card class="swip2" >
        <img src="{{fav.pochette}}" >
      </ion-card>
      <ion-label *ngIf="fav.est_favori" class="fav" >
        <ion-text>{{fav.titre}}</ion-text><br>
        <b><ion-text class="fav">{{fav.nomArtiste}}</ion-text></b>
      </ion-label>
    </div>
    </swiper-slide>
    </swiper-container>
  </div>


  <div *ngIf="is_pending">
    <div style="display: flex;">
      <div><h2 class="titre1"><b>Favo</b></h2></div><h2 class="titre2"><b>ris</b></h2></div>
  
    <swiper-container class="ion-margin" slides-per-view="2" css-mode="true">
      <swiper-slide *ngFor="let fav of TabFav">
        <div *ngIf="fav.est_favori">
        <ion-card class="swip2" >
          <ion-img>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </ion-img>
        </ion-card>
        <ion-label *ngIf="fav.est_favori" class="fav" >
          <ion-text><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-text><br>
          <b><ion-text class="fav"><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></ion-text></b>
        </ion-label>
      </div>
      </swiper-slide>
      </swiper-container>
    </div>


<div *ngIf="!is_pending" class="bot">
  <div style="display: flex;">
    <div><h2 class="titre1"><b>Artis</b></h2></div><h2 class="titre2"><b>tes favoris</b></h2></div>

  <ion-grid fixed class="gridArt">
    <ion-row>
      <ion-col *ngFor="let tof of TabAlbum" size="4">
        <div >
        <img src="{{tof.photoArtiste}}" class="Artistes"   (click)="storage3(tof)"  (click)=" OpenSong2()">
        <b>
          <p class="nomArt">{{tof.nomArtiste}}</p>
        </b></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div *ngIf="is_pending">
  <div style="display: flex;">
  <div><h2 class="titre1"><b>Artis</b></h2></div><h2 class="titre2"><b>tes favoris</b></h2></div>

  <ion-grid fixed class="gridArt">
    <ion-row>
      <ion-col *ngFor="let tof of TabAlbum" size="4">
        <div >
        <ion-avatar>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </ion-avatar>
        <b>
         <ion-label>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
         </ion-label>
         <ion-label>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
         </ion-label>
        </b></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
