<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Chansons de {{artiste.nomArtiste}}</ion-title> 
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  
  <div>
    <p *ngFor="let item of list">
      <ion-card mode="ios" *ngIf="item.nomArtiste == nom">

        <ion-grid fixed>
        
          <ion-row (click)="storage6(item)" (click)="OpenSong()">
            <ion-col><img src="{{item.pochette}}" ></ion-col>
            
            <ion-col size="7" style="margin-left: 2rem;">
              <b><p class="nomAL1">{{item.titre}}</p></b>
              <b><p class="nomAL"><span >Artiste : </span>{{item.nomArtiste}}</p></b>
              <p *ngFor="let al of item.Album">Album : {{al.nomAlbum}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </p>
  </div>
</ion-content>
