<ion-app>

  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" menuId="pearl_side" >
      
      <ion-content>
        <ion-header >
          <ion-toolbar >
            <ion-title class="headMenu">
          Menu
        </ion-title>
          </ion-toolbar>
        </ion-header>
        
      <ion-menu-toggle autoHide="false">
        <ion-item (click)="Swtheme()" (click)="changeThm()">
          <ion-label>Mode nuit/sombre</ion-label>
          <ion-icon [name]="theme" slot="start"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle autoHide="false">
        <ion-item routerLink="languages">
          <ion-label>Langue</ion-label>
          <ion-icon name="language" slot="start"></ion-icon>
        </ion-item>
      </ion-menu-toggle>

         
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-app>
